<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} – Loukidelis.com{% else
      %}Loukidelis.com{% endif %}
    </title>

    <link href="/assets/css/styles.css" rel="stylesheet" />
    {% feed_meta %}
    {% seo %}
    {% if page.og_image or site.og_image %}
      <meta property="og:image" content="{% if page.og_image %}{{ page.og_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.og_image | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    {% endif %}
  </head>
  <body>
    <img
      class="background-image"
      srcset="
        /assets/images/header-small.jpg 1280w,
        /assets/images/header.jpg       2685w
      "
      sizes="(max-width: 1000px) 1280px, 2685px"
      src="/assets/images/header.jpg"
    />
    <header>
      <a class="home-link" href="/index.html">
        <p class="home-link-title">David Loukidelis</p>
      </a>
    </header>
    <main>{{ content }}</main>
    <section class="tag-section">
      {% assign all_tags = site.tags | sort %}
      <ul class="tag-list">
        <span>By tag:</span>
        {% for tag in all_tags %}
        <li>
          <a href="/tag/{{ tag[0] | slugify }}" class="tag-link">
            {{ tag[0] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <footer>
      <a href="/feed.xml" target="_blank">Atom feed</a>
      <a href="https://www.lipchenko.com/" target="_blank">Art by Oleg Lipchenko</a>
    </footer>
  </body>
</html>
