<p style="margin: 0">
  I am a software engineer by trade, available for freelance and consulting.
  These are my writings; mostly non-professional. You can also
  find me on
  <a href="https://twitter.com/DavidLoukidelis" target="_blank">Twitter</a>
  and <a href="https://github.com/splouk" target="_blank">Github</a>.
</p>
<h1 style="margin: 64px 0 32px 0; color: #333; font-size: 4em">Postings 👇</h1>
<nav class="main-nav">
  {{#articles}}
  <a class="article-link" href="./{{url}}.html">
    {{title}}
  </a>
  <p class="article-list-date">{{date}}</p>
  {{/articles}}
</nav>
